.movies-app {
  background-color: white;
  width: 1010px;
  height: 100%;
  margin: 0 auto;
}

.alertOffline {
  margin-top: 10px;
  width: 100%;
  margin: auto auto;
}

.alertError {
  margin-top: 20px;
}

.loadingSpin {
  width: 32px;
  height: 32px;
  margin: 500px auto;
}

.loadingOutlined {
  font-size: 24px;
}